<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="My Test Rules" Description="My Test Rules" ToolsVersion="14.0">
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
    <Rule Id="S101" Action="Warning" />
    <Rule Id="S3903" Action="Warning" />
    <Rule Id="S1172" Action="Warning" />
    <Rule Id="S3898" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.Unity.Analyzers" RuleNamespace="Microsoft.Unity.Analyzers">
  </Rules>
</RuleSet>